<!--登録画面-->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset="UTF-8">
    <title>トレーニング登録</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

 <body style="height:100%; margin: 0;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!--2構成 -->
    <div style="display: flex; height: 100vh;">

        <!-- 左側ブロック #3b3a3a-->
        <div style="width: 30%; background-color: #90a5a9; display: flex; align-items: center; justify-content: center;">
            <div style="text-align: center;">
               <h2 class="quote quote-lg">"No pain, no gain."</h2>
                <h2 class="quote quote-sm">"No pain,<br>no gain."</h2>

                <style>
                .quote {
                    color: #ffffff;
                    font-family: "Palatino Linotype";
                }

                /* 小さい画面では1行バージョンを非表示、2行を表示 */
                .quote-sm {
                    display: none;
                }

                /* メディアクエリで幅が768px未満のときだけ表示を切り替え */
                @media (max-width: 768px) {
                    .quote-lg {
                    display: none;
                    }

                    .quote-sm {
                    display: block;
                    }
                }
                </style>
            </div>
        </div>

        <!-- 右側ブロック -->
        <div style="width: 70%; background-color: #1a1a1a; color: #f8f8f8; overflow-y: auto;">
        <header>
            <!--Navbar-->
            <nav class="navbar navbar-dark bg-dark mb-5">
                <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/training">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
                            </svg>
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/training/new}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                            </svg>
                            トレーニング登録
                        </a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                                トレーニング部位検索
                            </a>
                        </li>     
                        <form th:action="@{/training/{partId}search(partId=${partId})}" method="get">
                            <div class="select_box">
                            <div class="select_btn">
                                <select name="partId" class="form-control me-2">
                                    <option value="VI001">脚</option>
                                    <option value="VI002">胸</option>
                                    <option value="VI003">腕</option>
                                    <option value="VI004">背中</option>
                                    <option value="VI005">肩</option>
                                    <option value="VI006">腹筋</option>
                                    <option value="VI007">全身</option>
                                    <option value="VI008">有酸素</option>
                                </select>
                            </div>
                            <button class="btn btn-secondary" type="submit">Search</button>
                        </div>
                        </form>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/training/newuser}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-arms-up" viewBox="0 0 16 16">
                            <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            <path d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.81 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"/>
                            </svg>
                            体重登録
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/training/userData}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                            <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0z"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                            </svg>
                            体重一覧
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                            <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                            </svg>
                            Logout
                        </a>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            </nav>


            <div class="mt-5 mb-4 text-center">
                <h4 style="background-color:#1a1a1a; color:#f8f8f8; font-size: 30px; font-family: Palatino Linotype; text-align: center;">
                <a href="/training" style="color:#f8f8f8; text-decoration: none;">
                    MuscleTrack
                </a>
                </h4>
            </div>
        </header>

            <h3 class="text-center" style="font-family: 'Palatino Linotype';">FORM</h3>

            <form th:action="@{/training/new}" th:object="${trainingForm}" method="post" style="padding: 0 20px;">
                
                <div class="container mt-4 mb-4" style="max-width: 500px; margin: 0 auto;">
                    <label for="registrationDate" class="form-label">登録日</label>
                    <input type="date" id="registrationDate" th:field="*{registrationDate}" class="form-control" style="border-radius: 10px;">
                    <div th:if="${#fields.hasErrors('registrationDate')}" th:errors="*{registrationDate}">registrationDate error</div>
                </div>

                <div class="container mt-4 mb-4" style="max-width: 500px; margin: 0 auto;">
                    <label for="partId" class="form-label">部位</label>
                    <select id="partId" th:field="*{partId}" class="form-select">
                        <option value="" disabled selected>Select the body part</option>
                        <option value="VI001">脚</option>
                        <option value="VI002">胸</option>
                        <option value="VI003">腕</option>
                        <option value="VI004">背中</option>
                        <option value="VI005">肩</option>
                        <option value="VI006">腹筋</option>
                        <option value="VI007">全身</option>
                        <option value="VI008">有酸素</option>
                    </select>
                </div>

        
                <div style="max-width: 500px; margin: 0 auto;" class="container mt-4 mb-4">
                    <label for="workout" class="form-label">種目</label>
                    <input type="text" id="workout" name="workout" th:field="*{workout}" class="form-control" placeholder="ベンチプレス">
                    <div th:if="${#fields.hasErrors('workout')}" th:errors="*{workout}">workout error</div>
                </div>


                <div style="max-width: 500px; margin: 0 auto;" class="container mt-4 mb-4">
                    <label for="setId">セット数</label>
                    <select id="setId" name="setId" th:field="*{setId}" class="form-select" aria-label="Default select example" placeholder="ベンチプレス">
                        <option value="" disabled selected>Select the number of sets</option>
                        <option value="ST001">1</option>
                        <option value="ST002">2</option>
                        <option value="ST003">3</option>
                        <option value="ST004">4</option>
                        <option value="ST005">5</option>
                        <option value="ST006">6</option>
                        <option value="ST007">7</option>
                        <option value="ST008">8</option>
                        <option value="ST009">9</option>
                        <option value="ST010">10</option>
                    </select>
                </div>


                <div style="max-width: 500px; margin: 0 auto;" class="container mt-4 mb-4">
                    <label for="rep" class="form-label">レップ数</label>
                    <input type="text" id="rep" name="rep" th:field="*{rep}" class="form-control" placeholder="30">
                    <div th:if="${#fields.hasErrors('rep')}" th:errors="*{rep}">rep error</div>
                </div>


                <div style="max-width: 500px; margin: 0 auto;" class="container mt-4 mb-4">
                    <label for="weight" class="form-label">重量</label>
                    <input type="text" id="weight" name="weight" th:field="*{weight}" class="form-control" placeholder="70.5">
                </div>


                <div style="max-width: 500px; margin: 0 auto;" class="container mt-4 mb-4">
                    <label for="memo" class="form-label">メモ</label>
                    <input type="text" id="memo" name="memo" th:field="*{memo}" class="form-control">
                </div>

                 <!--一覧に戻る・登録ボタン-->
                <div class="container mt-4 mb-4"
                style="display: flex; align-items: center; justify-content: space-between; ">
                    <div class="button003">
                        <a href="/training"
                        style="margin-left: 35px; margin-top: 40px;">
                        Homeに戻る
                        </a>
                    </div>
                        <button type="submit"
                        class="button004"
                        style="margin-right: 35px; margin-top: 40px;">
                            登録
                        </button>
                </div>
            </form>

            <footer class="mt-5"
                style="margin-top: auto; padding:20px 0px 10px;
                color: #f8f8f8; background-color:#212429;
                text-align: center; bottom: 0; width: 100%;">
                    <p>&copy; MuscleTrack</p>
            </footer>
        </div>
    </div>
</body>
</html>